<app-menu></app-menu>
<main class="container_box">
  <div class="box">
    <h2 class="name">Médicos</h2>
    <a routerLink="/medico" class="card">Nuestros Médicos
      <img src="assets/home_medico.png" alt="Imagen de médicos" class="card-image">
    </a>
  </div>

  <div class="box">
    <h2 class="name">Pacientes</h2>
    <a routerLink="/paciente" class="card">Registro de Pacientes
      <img src="assets/home_paciente.png" alt="Imagen de pacientes" class="card-image">
    </a>
  </div>

  <div class="box">
    <h2 class="name">Diagnósticos</h2>
    <a routerLink="/diagnostico" class="card">Diagnósticos Elaborados
      <img src="assets/home_diagnostico.png" alt="Imagen de diagnósticos" class="card-image">
    </a>
  </div>

  <div class="box">
    <h2 class="name">Citas</h2>
    <a routerLink="/cita" class="card">Citas Registradas
      <img src="assets/home_cita.png" alt="Imagen de citas" class="card-image">
    </a>
  </div>
</main>

